body {
  box-sizing: border-box;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-color: black;
  color: #e6ae47;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Table Section */
table,
td {
  border: 2px solid wheat;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: -0.1em -0.1em 3em 2em olive;
}

td {
  width: 8vw;
  height: 8vh;
}

/* Result Section */
#result {
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

/* Button Section */
button {
  background-color: rgb(225, 151, 14);
  color: rgb(49, 27, 27);
  border: none;
  border-radius: 10px;
  padding: 2%;
}

/* Cursor: Pointer */
td,
button {
  cursor: pointer;
}

/* Margin */
main,
#result {
  margin-top: 4em;
}

/* Font Color */
#title,
#result > span {
  color: olive;
}

/* Font Size */
#title,
td {
  font-size: 1.5em;
}

button {
  font-size: 1em;
  margin-bottom: 1em;
}

h2,
span {
  font-size: 1.2em;
}
